<div class="row pt-3">

  <div class="card  w-100">
    <div class="card-body">
      <div class="card-column mt-4 w-100" *ngIf="loading">
        <div class="col-xs-12">
          <h3 data-ng-cloak>
            <span class=" fa fa-pulse fa-spinner"></span>
            Loading.....
          </h3>
        </div>
      </div>

      <div class="card-column  w-100" *ngIf="!loading">
        <h5 class="card-title">Phonebook Entries For </h5>
        <div class="form-row">
          <div class="col-6 form-group">
            <button type="button" class="btn btn-info" [routerLink]="['/']">Back</button>
            <add-edit-phonebook-entry [text]="" [id]="0" [phoneBookId]="phoneBookId" [mode]="addEditViewMode.Add"
              (reloadList)="reloadList()">
            </add-edit-phonebook-entry>
          </div>
          <div class="col-6">

            <div class="form-group has-search w-100">
              <span class="fa fa-search form-control-feedback"></span>
              <input type="text" class="form-control" placeholder="Search" name="searchTerm" [(ngModel)]="searchTerm" />
            </div>

          </div>
        </div>
        <div class="form-row border rounded table-responsive-sm styled-table">
          <table class="table table-borderless table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th><span class="pull-right"> Phone Number</span></th>
                <th>Action</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngIf="getPhoneBookEntriesToShow()?.length == 0">
                <td colspan="3" class="small text-center text-info">No data to display</td>
              </tr>
              <tr class="border-bottom" *ngFor="let phonebookEntry of getPhoneBookEntriesToShow()  | async">
                <td>
                  <add-edit-phonebook-entry [text]="phonebookEntry.name" [id]="phonebookEntry.id"
                    [phoneBookId]="phoneBookId" [mode]="addEditViewMode.Edit" (reloadList)="reloadList()">
                  </add-edit-phonebook-entry>
                </td>
                <td>{{phonebookEntry.phoneNumber}}</td>
                <td><button type="button" class="btn btn-danger"
                    (click)="deletePhoneBookEntry(phonebookEntry)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
